.test-container {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.slider-item img {
  position: absolute;
  max-width: 60%;
}

.slider-item:first-child img {
  left: 40%;
  z-index: 1;
}

.slider-item:nth-child(2n) img {
  top: 30%;
  z-index: 0;
}

.slider-item:last-child img {
  width: 40%;
  z-index: -1;
}
